@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Comic+Neue&family=Dosis&family=Glory:wght@300&family=Henny+Penny&family=Josefin+Sans&family=Libre+Baskerville:ital@1&family=Mohave:ital,wght@0,400;1,300&family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto+Condensed&display=swap');


/*font-family: 'Jurassic Park', sans-serif; */
/*font-family: 'Francois One', sans-serif; */
html {
    background-color: #F8F8F0;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

/* header & fonts */
#home_page h1::before,
#home_page h1::after {
    display: inline-block;
    height: 3em;
    width: 3.8em;
    background-image: url(images/jp_logo.png);
    background-size: cover;
    content: "";
    transform: translateY(7%);
    justify-content: center;
}

header {
    font-family: 'Francois One';
    text-align: center;
    box-sizing: content-box;
    width: 100%;

    border: 1px solid #000;
    background: #C2B222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h2,
h3 {
    font-family: 'Francois One', sans-serif;
}

p {
    font-family: 'Glory';
}

h4 {
    /* liability fee styling */
    color: #F00;
    text-align: center;
    font-family: Francois One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer code */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Francois One';


    /* height: 394px; */
    font-family: 'Francois One';
    align-self: center;
    border: 1px solid #000;
    background: #C2B222;
}

footer {
    display: flex;

}

li {
    list-style-type: none;
    text-align: center;
}

/* passes */

.product {
    padding: 20px;
}

@media only screen and (max-width: 640px) {
    #products {
        padding: 1em;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*pricing*/
.prodPrice::before {
    content: "$ ";
}

/* flexbox for passes*/
.seasonal-passes {
    display: flex;
    flex-direction: column;
}

.basic-passes {
    display: flex;
    flex-direction: column;
}


/* images */

.images,
.images2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* cart */ 
