@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Comic+Neue&family=Dosis&family=Glory:wght@200;300;400&family=Henny+Penny&family=Josefin+Sans&family=Libre+Baskerville:ital@1&family=Mohave:ital,wght@0,400;1,300&family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: #F8F8F0;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

/* header & fonts */

/*#home_page h1::before,
#home_page h1::after {
    display: inline-block;
    height: 3em;
    width: 3.8em;
    background-image: url(images/jp_logo.png);
    background-size: cover;
    content: "";
    transform: translateY(7%);
    justify-content: center;
}*/

header {
    font-family: 'Francois One';
    text-align: center;
    box-sizing: content-box;
    width: 100%;
    border: 1px solid #000;
    background: #C2B222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* basic fonts*/
h2 {
    padding: 5px;
    border: solid 1px #f8f8f0;
    background-color: #F8F8F0;
    font-family: Francois One;
    text-align: center;
}

h3 {
    font-family: 'Francois One', sans-serif;
}


p {
    font-family: 'Glory';
}

h4 {
    /* liability fee styling */
    color: #931d21;
    text-align: center;
    font-family: Francois One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer code */
footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Francois One';
    font-family: 'Francois One';
    align-self: center;
    border: 1px solid #000;
    background: #C2B222;
}

li {
    list-style-type: none;
    text-align: center;
}

/* passes */

.product {
    padding: 20px;
}

.prodPrice::before {
    content: "$";
}

/* media query*/
@media only screen and (aspect-ratio: 16:9, 3:2) {
    #home_page {
        padding: 1em;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* flexbox for passes*/
.seasonal-passes,
.basic-passes {
    display: flex;
}

/* images */
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.images2 {
    display: flex;
    justify-content: space-around;
}

/* products */
.product {
    margin-top: 60px;
    padding: 20px;
    border: solid 1px black;
    background-color: #C2B222;
    border-radius: 0.5rem;
}

.product2 {
    margin-top: 60px;
    padding: 20px;
    border: solid 1px rgb(0, 0, 0);
    background-color: #f8f8f0;
    border-radius: 0.5rem;
    height: 160px;
}

.prodBtn,
.removeBtn,
#emptyCart {
    display: block;
    background-color: #ff0008;
    padding: 1em;
    float: left;
    color: white;
    padding: 0.2em;
    border-radius: 0.5rem;
}

.prodPrice {
    display: inline-block;
    margin-top: 0.5em;
    font-family: 'Francois One';
}

.prodDesc {
    font-family: 'Glory';
}

a {
    font-family: 'Francois One';
}

.basic-seasonal {
    display: flex;
    width: 60%;
}

.basic-passes {
    display: flex;
}

.seasonal-passes {
    display: flex;
}

.images,
.images2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

/* fixes sizing*/
.images img,
.images2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    display: flex;
}

form {
    font-family: 'Francois One';
}

h1 {
    font-family: 'Francois One';
}

h4 {
    color: #931d21;
    text-align: center;
    font-family: Francois One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}


/* add to cart button */

button {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    color: #f8f8f0;
    font-family: Francois One;
    font-weight: 400;
    background-color: #236154;
    margin: 30px;
    font-family: Francois One;
}

.ticket {
    display: flex;
    text-align: center;
    background-color: #C2B222;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 1em;

}


.executive-pass {
    justify-content: center;

}

.white-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
}

.pass-page {
    margin: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.select {
    align-items: center;
    font-family: Francois One;
    text-align: center;
}

.about {
    font-size: 60px;
}

label {
    display: inline-block;
    font-family: 'Francois One';
    font-size: 25px;

}
/* checkout button*/
.check-end {
    display: flex;
    justify-content: center;
    margin: 2em;
}

/* cart styling */
.item {
    background-color: #d7d3d6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5em;
    width: 20%;
    margin: 1em;
}

.item-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.executive {
    background-color: #d7d3d6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5em;
    width: 20%;
    margin: 1em;
}

.executive-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.wrapper {
    display: grid;
    align-items: center;
    place-items: center;
}

/*checkout page styling*/
