@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/jurassic-park');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Comic+Neue&family=Dosis&family=Glory:wght@300&family=Henny+Penny&family=Josefin+Sans&family=Libre+Baskerville:ital@1&family=Mohave:ital,wght@0,400;1,300&family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto+Condensed&display=swap');


/*font-family: 'Jurassic Park', sans-serif; */
/*font-family: 'Francois One', sans-serif; */

html,
body {
    background-color: #F8F8F0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



h1 {
    font-family: 'Jurassic Park', sans-serif;
    font-size: 96px;
}

h2,
h3 {
    font-family: 'Francois One', sans-serif;
}

h4 {
    /* liability fee styling */
    color: #F00;
    text-align: center;
    font-family: Francois One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {

    font-family: 'Glory', sans-serif;

}

.nav-bar {
    display: inline-block;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Francois One';
    width: auto;
    max-width: 100vmax
    +;
    align-items: center;

    /* height: 394px; */
    font-family: 'Francois One';
    align-self: center;
    border: 1px solid #000;
    background: #C2B222;
    display: ;

}

footer {
    display: flex;
    justify-content: center;
    width: auto;
}

a {
    font-family: 'Francois One', sans-serif;

}

ul {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    font-display: flex;
    font-size: auto;
}

ol {
    text-align: start align-content:center;
    font-size: auto;


    a {
        font-family: 'Francois One', sans-serif;
        list-style-type: style none;
    }

    button {
        font-family: 'Francois One', sans-serif;
    }